
.aboutUsShowcase{
	background-image: url(../images/blacksmith.jpg);
	height: 60vh;
	background-size: cover;
	user-select: none;

	max-height:60vh;
	min-width:100%;

	text-align: center;
	line-height: 4em;
	font-size:3vw;
	font-style:italic;
	color:rgb(255, 255, 200);
	text-shadow: 1px 0px #000;
	overflow: hidden;
}

h3{
	margin:10px;
	text-align: center;
}

@media(max-width:600px){

	.aboutUsShowcase{
	font-size: 6vw;
	line-height: 25vw;
	font-style:italic;
	}
}
