body {
	font-family: monospace;
	margin: auto auto;
}

.forgingShowcase {
	background-image: url(../images/forging.jpg);
	height: 60vh;
	background-size: cover;
	background-position: 0 60%;
	user-select: none;

	max-height:60vh;
	min-width:100%;

	text-align: center;
	line-height: 4em;
	font-size:3vw;
	font-style:italic;
	color:rgb(255, 255, 200);
	text-shadow: 1px 0px #000;
	overflow: hidden;
}
.container{
	font-size: 2em;
	display: flex;
	justify-content:space-between;
	width: 100%;
	align-content: space-between;
	text-align: center;
}
.paragraphs{
	width: 100%;
	margin:4%;
}

.container ul {
	box-sizing: border-box;
	
	
}

.swordsUL {
	width: 90%;
	min-width: 150px;
}

.armorUL {
	width: 90%;
	min-width: 150px;
}

@media(max-width: 600px){

	.forgingShowcase {
		color:rgb(255, 255, 200);
		text-shadow: 1px 0px #000;
		line-height: 350%;
		font-size:7vw;
		background-position: -300px 0;
	}

	.container{
	font-size: 5vw;
	}
	.container .paragraphs{
	display: inline-block;
	padding: 0;
	margin: 1vw;
	}
}