body {
	font-family: monospace;
	margin: auto auto;
}

.forgingShowcase{
	
	max-height:60vh;
	min-width:100%;
	background-size: contain;

	text-align: center;
	line-height: 5em;
	font-size:40px;
	font-style:italic;
	color:rgb(255, 255, 200);
	overflow: hidden;
}

.forgingShowcase img {
	border:none;
	pointer-events: none;
	user-select: none;
	width:100%;
	margin-top: -25%;
}

.container{
	font-size: 2em;
	display: flex;
	justify-content:space-between;
	width: 100%;
	align-content: space-between;
	text-align: center;
}
.paragraphs{
	width: 100%;
	margin:4%;
}

.container ul {
	box-sizing: border-box;
	
	
}

.swordsUL {
	width: 90%;
	min-width: 150px;
}

.armorUL {
	width: 90%;
	min-width: 150px;
}

@media(max-width: 600px){
	.forgingShowcase img{
		zoom:0.4;
		width:inherit;
		margin-top: -13%;
		margin-left: -70%;
		min-height:60vh;
		min-width:100%;
	}

	.container{
	font-size: 5vw;
	}
	.container .paragraphs{
	display: inline-block;
	padding: 0;
	margin: 1vw;
	}
}