
.indexShowcase{
	background-image: url(../images/sunset.png);
	height: 60vh;
	background-size: cover;
	user-select: none;

	text-align: center;
	line-height: 4em;
	font-size:3vw;
	font-style:italic;
	color:rgb(255, 255, 200);
	overflow: hidden;
}

.imgdiv{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0% 10%;
	text-align:center;
}

img{
	max-width: 100%;
	max-height: 100%;
}

@media(max-width: 600px){
	.indexShowcase {
		text-shadow: 1px 0px #000;
		line-height: 500%;
		font-size:7vw;
	}
	.imgdiv{
	display: inline-block;
	flex-wrap: wrap;
	margin: 0% 10%;
	text-align:center;
}
}