
.indexShowcase{
	background-image: url(../images/sunset.png);
	height: 400px;
	background-size: cover;
	user-select: none;

	text-align: center;
	line-height: 5em;
	font-size:40px;
	font-style:italic;
	color:rgb(255, 255, 200);
	overflow: hidden;
}

.imgdiv{
	display: flex;
	flex-wrap: wrap;
	margin: 0% 10%;
	text-align:center;
}

img{
	max-width: 100%;
	max-height: 100%;
}