.trainingShowcase {
	background-image: url(../images/training.png);
	height: 60vh;
	background-size: cover;
	user-select: none;

	max-height:60vh;
	min-width:100%;

	text-align: center;
	line-height: 4em;
	font-size:3vw;
	font-style:italic;
	color:rgb(255, 255, 200);
	text-shadow: 1px 0px #000;
	overflow: hidden;
}

.calculator{
	margin:20px;
	background: rgb(160, 160, 50);
	border:3px double black;
	border-radius: 10px;

	text-align: center;
	font-size: 1.5em;
}

.calculator>input {
	height: 1em;
}

#hourInput{
	height:35px;
	font-size: 18px;
	max-height:2.7em;
	overflow: hidden;

}

.calculator>button, select {
	height: 3em;

}
p {
	text-align: center;
}

@media(max-width: 600px){
	.trainingShowcase{
		color:rgb(255, 255, 200);
		text-shadow: 1px 0px #000;
		line-height: 350%;
		font-size:7vw;
	}


}